* {
    margin: 0;
    padding: 0;
}

:root {
    --corHeader: #fff;
}

/*

 Estilizando o header, a navegação do menu

*/



.cabecalho {
    display: grid;
    grid: 9.2rem / auto auto;
    grid-template-areas:
    "logo slogam"
    "logo navegacao";
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.fotoLogo {
    height: 235px;
}

.logo {
    margin-left: 5vh;
    margin-top: 3vh;
    padding-bottom: -12rem;
    background-color: var(--corHeader);
    grid-area: logo;
  /*  border: solid 2px black; */
}

.navegacao {
    background-color: var(--corHeader);
    grid-area: navegacao;
 /*   border: solid 2px black; */
    padding-top: 6%;
}

.slogam {
    background-color: var(--corHeader);
    grid-area: slogam;
    padding-top: 10%;
    margin-left: -25%;
 /*   border: solid 2px black; */
}

/*  
    Estilização dos links de navegação principais
*/


.item1 {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #000;

}

.link:hover {
    border-bottom: 0.4vh solid black;
    background-color: rgba(45, 45, 45, 0.1);
}
/*  
    Aqui termina a estilização do header
*/

