* {
    margin: 0;
    padding: 0;
}

:root {
    --corHeader: #fff;
}

/*

 Estilizando o header, a navegação do menu

*/



.cabecalho {
    display: grid;
    grid: 9.2rem / auto auto;
    grid-template-areas:
    "logo slogam"
    "logo navegacao";
    border: 1px solid #ccc;
    /*
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23); 
    transform: skewY(-1deg);
    transform-origin: top left;
    */
}


.fotoLogo {
    height: 235px;
}

.logo {
    margin-left: 5vh;
    margin-top: 3vh;
    padding-bottom: -12rem;
    background-color: var(--corHeader);
    grid-area: logo;
  /*  border: solid 2px black; */
}

.navegacao {
    background-color: var(--corHeader);
    grid-area: navegacao;
 /*   border: solid 2px black; */
    padding-top: 6%;
}

.slogam {
    background-color: var(--corHeader);
    grid-area: slogam;
    padding-top: 10%;
    margin-left: -25%;
    transform: skewX( 24deg);
 /*   border: solid 2px black; */
}

/*  
    Estilização dos links de navegação principais
*/


.item1 {
    margin-top: 3.9vh;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.lista1:hover, .lista2:hover, .lista3:hover, .lista4:hover {
    transform: scale(1.7);
    margin-top: 0.5vh;
}

.link {
    text-decoration: none;
    color: #000;

}

.link:hover {
    border-bottom: 0.4vh solid rgba(0, 0, 0, 0.274);
    background-color: rgba(78, 78, 78, 0.1);
    animation-name: colorful;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes colorful {
    0% {
      background-color: rgba(58, 58, 58, 0.801);;
    }
    100% {
      background-color: #fff;
    }
  }
/*  
    Aqui termina a estilização do header
*/

/*
    Aqui começa a estilização da div body
    Estará entre o header e footer
*/

.body {
    height: 700px;
    display: flex;
    background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);

}

.section {
    width: 65%;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 25px 10px 0 0 #000;
  }

.aside {
    width: 35%;
    border-left: 2px solid rgba(75, 75, 75, 0.329);
}


/*
    Aqui começa a estilização do footer
*/

.footer {
    height: 200px;
   /* Para não ser repetitivo estas linhas de codigo foram canceladas
    background-image: url("midia/fotos/logoTextura.png");
    background-repeat: no-repeat;
    background-size: cover; */
    background: url("midia/fotos/logoTextura.png");
}